
h1 {
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: fuchsia;
    text-shadow: 3px 3px 0px rgb(27, 11, 63);
 
}

h2 {
    text-align: left;
}
#Th2 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: blueviolet;
    
}
body {
    font-family: 'Kalam', cursive;
    text-align: center;
    background-image: url("../images/cave.jpg");
    background-repeat: no-repeat;
    background-size: 104%;
}   

#randomNumber  {
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    color: lightblue;
    background: blueviolet;
    padding: 10px 40px;
    border-radius: 20px;
    border: solid white;

}

#finalTotal     {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: lightblue;
    background: blueviolet;
    padding: 10px 40px;
    border-radius: 20px;
    border: solid white;
}

#one, #two, #three, #four {
    width: 40%;
}

#iconRG, #iconGG, #iconWG, #iconBG {
    width: 40px;
    margin: 0 30px;
}
#numberWins, #numberLosses, h2 {
    color: cyan;
}

p {
    text-align: left;
}


/*******************
MODAL
********************/
.button{
    background:blue;
    font-size: 20px;
    float: right;
    color:#fff;
    border:0;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif, italic
  }
  
  .button:hover{
    background:#333;
  }
  
  .modal{
    display:none;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content{
    background-color: lightslategray;
    margin: 20% auto;
    width:50%;
    animation-name:modalopen;
    animation-duration:1s;
  }
  
  .modal-header h2,{
    margin:0;
  }
  
  .modal-header{
    background:blueviolet;
    padding:10px;
    color:#fff;
  }
  
  .modal-body{
    padding:10px 20px;
    text-align: left;
  }
  
  .closeBtn{
    color:#ccc;
    float: right;
    font-size:30px;
    color:#fff;
  }
  
  .closeBtn:hover,.closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor:pointer;
  }
  
  @keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
  }
