
h1 {
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: fuchsia;
    text-shadow: 6px 6px 0px rgb(27, 11, 63);
}
body {
    font-family: 'Kalam', cursive;
    text-align: center;
    background-image: url("../images/cave.png");
}   

#randomNumber  {
    font-size: 60px;
    color: crimson;
}

#finalTotal     {
    font-size: 60px;
    color: crimson;
}

#one, #two, #three, #four {
    width: 20%;
}
